@charset "UTF-8";

.hy-smartgrid table {
    width: 100%;
    font-family: verdana,arial,sans-serif;
    font-size:14px;
    color:#333333;
    border-width: 1px;
    border-color: #ddd;
    border-collapse: collapse;
}

.hy-smartgrid table .ckb-cell {
    width: 25px;
    border-right: none;
    text-align: center;
}

.hy-smartgrid table td {
    box-sizing: content-box;
}

.hy-smartgrid table td .td-value {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.hy-smartgrid table thead > tr > th {
    padding: 8px;
    border-style: solid;
    color: #000;
    border: 1px solid #ddd;
    background-color: #ebebeb;
    text-align: center;
    /*font-size: 14px;*/
}

.hy-smartgrid table thead tr {
    height: 20px;
    line-height: 20px;
}

.hy-smartgrid table tbody tr {
    background-color: #fff;
}

.hy-smartgrid table tbody tr.odd {
    background-color: #f5f5f5;
}

.hy-smartgrid table tbody tr td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: center;
}

.hy-smartgrid table tbody tr td a {
    color: #4e8cd9;
    padding:0 5px 0 5px;
}

.hy-smartgrid .hygrid-pager-wrapper {
    width: 100%;
    /*margin-top: 5px;*/
    text-align: center;
    overflow: hidden;
}

.hy-smartgrid .hygrid-pager-wrapper .page-info {
    font-size: 12px;
    line-height: 34px;
    display: inline-block;
    float: left;
}

.hy-smartgrid .hygrid-pager-wrapper .pager {
    padding: 5px 0 5px 0;
    margin: 5px 0 0 0;
    border-top: none;
    position: relative;
    float: right;
}

.hy-smartgrid .hygrid-pager-wrapper .page-nav {
    padding: 5px 10px 5px 10px;
    color: #333;
    cursor: pointer;
    font-size: 12px;
    background-color: #fff;
    border: 1px solid #eee;
    border-collapse: collapse;
}

.hy-smartgrid .hygrid-pager-wrapper .page-nav:hover {
    background-color: #f5f5f5;
}

.hy-smartgrid .hygrid-pager-wrapper .page-nav.page-current {
    padding-right: 0px;
    font-size: 12px;
    background-color: transparent;
    border: none;
}

.hy-smartgrid .hygrid-pager-wrapper .currentpage {
    width: 30px;
    height: 20px;
    font-size: 12px;
    border: 1px solid #ccc;
    text-align: center;
}

.hy-smartgrid .hygrid-pager-wrapper .export {
    margin-left: 10px;
}
